
<!-- Add a new item -->
<div class="add-item">

  <input type="file" id="image_input" accept="image/*" (change)="onFileSelected($event)" >
  <div class="display-img" id="display_img" >

  </div>

  <img
    [src]="url"
  >
  <button mat-button (click)="createItem()"> Save </button>
</div>

<br>


<div class="search-field">
  <mat-form-field>
    <mat-label> Get item by category</mat-label>
    <input matInput type="search"  [(ngModel)]="search" autocomplete="off">
  </mat-form-field>
</div>

<!-- Display all items in the store, give option to edit content as well as re-stock it -->

<div class="existing-items">
  <mat-accordion *ngFor="let item of (items | filterItems:search) as folder">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          {{item.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="edit-description">
        <mat-form-field appearance="outline">
          <input matInput autocomplete="off" placeholder="Name of item"/>
        </mat-form-field>
        <br>
        <mat-form-field >
          <textarea matInput placeholder="Descrpition of item"> </textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <input matInput autocomplete="off" placeholder="Quantity of item"/>
        </mat-form-field>
        <br>

        <button mat-button color="primary" (click)="saveItem(item)" > Save </button>
        <br>
        <button mat-button color="warn" (click)="removeFromStore(item)"> Remove from store </button>
        <button mat-button color="warn" (click)="deleteFromStore(item)" > Delete Entirely </button>
        <!-- <div class="edit-img">
          <img src="../assets/images/flowers/2.jpg"/>
        </div> -->
      </mat-card>

    </mat-expansion-panel>
  </mat-accordion>
</div>
