.main {
    width: 75%;
    margin-left: 12.5%;
  }
  .main-img {
    width: 40%;
    height: 40%;
    margin-left: 25%;
    margin-top: 10px;
  }
  .main-intro {
    margin-top: 6%;
    margin-bottom: 50px;
    width: 75%;
    margin-left: 13.5%;
    height: 40%;
  }
  p {
    text-align: center;
  }
  h1 {
    text-align: center;
    color: darkgrey;
    font-weight: 150;
    font-family: Cake;
    font-size: 3rem;
  }
